@charset "UTF-8";

html {
    height: 100%;
}

header {
    text-align: center;
    padding-top: 50px;
}

/* ロゴ下の文字 */
header p {
    color: white;
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 50px;
}

/* ロゴの大きさ */
header h1 img {
    width: 200px;
    height: auto;
}


/* 背景を斜めのグラデーションにする */
.auth-wrapper {
    background: linear-gradient(180deg, #186AC9 15%, #ACCEF7 50%, #ffff66 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* カードの見た目を整える */
.auth-card {
    background-color: rgba(100, 100, 100, 0.5);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    color: #fff;
    margin-top: 0;
}


.auth-card a {
    color: #fff;
    text-decoration: underline;
}

.auth-card a.btn {
    text-decoration: none;
}

.auth-card h3,
.auth-card .form-label,
.auth-card .form-control {
    font-weight: 300;
}

.auth-card .form-label {
    font-size: 1.75rem;
}

.auth-card .form-control {
    height: 50px;
}
