@charset "utf-8";

html {}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

/* header */
header {
    height: 120px;
    background: #186AC9;
    padding: 10px 30px;
}

#head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

header h1 img {
    height: 50px;
    width: auto;
    vertical-align: center;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#menu-title {
    color: #fff;
    font-weight: bold;
    display: flex;
    align-items: center;
    font-size: x-large;
}

.user-icon-header {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 50px;
}

/* 矢印ｖ下向きの状態 */
.arrow {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(135deg);
    transition: 0.3s;
    margin-left: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

/* 矢印Λに反転 */
#menu-container.active .arrow {
    transform: rotate(-45deg);
}

#menu-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    cursor: pointer;
}

/* アコーディオンメニュー　リスト全体の装飾 */
#menu-container ul {
    display: none;
    position: absolute;
    top: 110px;
    right: -30px;
    width: calc(20vw);
    background-color: #fff;
    border: 1px solid #444;
    z-index: 100;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: x-large;
}

#menu-container ul li {
    border-bottom: 1px solid #eee;
}

#menu-container ul li:last-child {
    border-bottom: none;
}

#menu-container ul li a {
    display: block;
    padding: 30px;
    text-decoration: none;
    color: #333;
    text-align: center;
    transition: background-color 0.3s;
}

#menu-container ul li a:hover {
    background-color: #000080;
    color: #fff;
}


#side-bar {
    background-color: #fff;
    border-left: 1px solid #dee2e6;
    width: 20%;
    font-size: 1.75rem;
    min-height: 100vh;
}

#side-bar hr {
    opacity: 1;
    background-color: #dee2e6;
    height: 1px;
    border: none;
}

#side-bar a {
    font-weight: 400;
    font-size: 1.5rem;
}

#side-bar .btn-primary {
    background-color: #186AC9;
    border-color: #186AC9;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    padding: 12px 30px;
    border-radius: 10px;
}



/* 投稿フォーム */
.post-container {
    display: flex;
    padding: 75px;
    background-color: #fff;
    border-bottom: 10px solid #eee;
    font-size: 2rem;
}

.post-icon img,
.post-left img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 30px;
}

.post-form {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.post-form textarea {
    width: 80%;
    border: none;
    outline: none;
    resize: none;
    padding: 10px;
}

.post-form textarea::placeholder {
    color: #cccccc;
}

.post-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    padding-right: 150px;
}

.post-btn img {
    width: 60px;
    transition: transform 0.2s;
}

.post-btn img:hover {
    transform: scale(1.1);
}


/* 投稿内容一覧 */
.post-list {
    background-color: #fff;
    list-style: none;
    padding: 0;
    margin: 0;
}

.post-item {
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
    font-size: 1.5rem;
}

.user-name {
    font-weight: bold;
}

.post-left {
    margin-left: 150px;
    display: flex;
    justify-content: center;
}

.post-right {
    flex-grow: 1;
    padding-right: 50px;
    position: relative;
}

.post-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.post-actions {
    text-align: right;
    margin-top: 10px;
}

.post-actions img {
    width: 65px;
    vertical-align: middle;
}


/* 投稿編集モーダル */
/* モーダルのコンテンツボックス */
.modal__content form {
    background: #fff;
    left: 50%;
    padding: 50px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 400px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.modal_post {
    width: 100%;
    flex-grow: 1;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    text-align: left;
    resize: none;
}

.modal__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
}


.modal__button-area {
    text-align: center;
}

.modal__update-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.modal__update-btn img {
    width: 60px;
    transition: transform 0.2s;
}

.modal__update-btn img:hover {
    transform: scale(1.1);
}

.delete-btn {
    position: relative;
    display: inline-block;
}

.trash-hover {
    display: none;
}

.delete-btn:hover .trash-normal {
    display: none;
}

.delete-btn:hover .trash-hover {
    display: inline-block;
}


/* 削除モーダル用 */
.js-modal-delete {
    display: none;
    height: 100vh;
    position: fixed;
    width: 100%;
}

.modal__button-area .btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    width: 100px;
    transition: opacity 0.2s;
}

.btn-danger {
    background-color: #186AC9;
}

.btn-primary {
    background-color: #eee;
}

.js-modal-delete .modal__content {
    background: #fff;
    padding: 30px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 600px;
    border-radius: 5px;
    border: 1px solid #666;
    font-size: large;
}

.js-modal-delete .modal__content p {
    text-align: left;
    margin-bottom: 30px;
    color: #333;
}

.js-modal-delete .modal__button-area {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}



/* ユーザー検索 */
.search-container {
    border-bottom: 10px solid #eee;
    display: flex;
    align-items: center;
    padding: 60px 80px;
    border-bottom: 10px solid #eee;
    background-color: #fff;
}

.search-form {
    display: flex;
    gap: 10px;
}

.search-input {
    width: 350px;
    padding: 12px;
    border: 1px solid #666;
    border-radius: 5px;
    font-size: 20px;
}

.search-btn {
    background-color: #186AC9;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-btn img {
    width: 25px;
    height: 25px;
}

.search-page-wrapper {
    background-color: #fff;
    min-height: 100vh;
}

.users-list-wrapper {
    width: 100%;
    background-color: #fff;
    padding-top: 50px;
}

.users-list {
    max-width: 600px;
    margin: 0 auto;
}

.user-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    width: 100%;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.user-name {
    flex-grow: 1;
    font-size: 20px;
    padding-left: 20px;
}

.search-word-display {
    font-size: 25px;
    font-weight: bold;
    margin-left: auto;
    padding-right: 30%;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1;
}

.follow-btn-area {
    text-align: right;
}

.follow-btn,
.unfollow-btn {
    width: 150px;
    border-radius: 8px;
    padding: 10px 0;
    font-weight: bold;
}

.unfollow-btn {
    background-color: #ff4d4d !important;
    border: none;
}

.follow-btn {
    background-color: #3b82f6 !important;
    border: none;
}


/* フォロー/フォロワーリスト */
.follow-list h2,
.follower-list h2 {
    margin-left: 100px;
    display: flex;
    justify-content: center;
}

.follow-header,
.follower-header {
    border-bottom: 10px solid #eee;
    display: flex;
    align-items: center;
    padding-left: 80px;
    padding-top: 40px;
    padding-bottom: 40px;
}


/* プロフィール編集 */
/* プロフィール編集画面全体 */
.profile-edit-wrapper {
    background-color: #fff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

.profile-edit-container {
    display: flex;
    width: 80%;
    max-width: 1000px;
    gap: 50px;
}

.edit-user-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.edit-form-area {
    font-size: 20px;
    flex-grow: 1;
}

.form-control.bg-light {
    background-color: #f0f2f5;
    border: 1px solid #ccc;
    border-radius: 0;
    font-size: 20px;
    height: auto;
    min-height: 50px;
}

.update-btn {
    background-color: #ff4d4d;
    border: none;
    padding: 12px 80px;
    border-radius: 5px;
    font-size: 20px;
}

.custom-file-upload {
    background-color: #f0f2f5;
    cursor: pointer;
    border: 1px solid #ccc;
}


/* 相手のプロフィール画面 */
.profile-header-area {
    background-color: #fff;
    padding: 60px 80px;
    border-bottom: 10px solid #eee;
}

.profile-info-content {
    display: flex;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

.profile-icon-box .user-icon,
.post-left .user-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-details {
    margin-left: 50px;
    flex-grow: 1;
}

.profile-row {
    display: flex;
    font-size: 20px;
}

.profile-label {
    width: 150px;
    font-weight: bold;
}

.profile-action {
    align-self: flex-end;
}
