@charset "utf-8";

html {}

body {}

/* header */
header {
    background: #186AC9;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

#menu-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    cursor: pointer;
}

#menu-title {
    display: flex;
    align-items: center;
    padding: 10px;
}

.arrow {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(135deg);
    transition: 0.3s;
    margin-left: 10px;
}


#menu-container ul {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 150px;
    background-color: #fff;
    border: 1px solid #444;
    z-index: 100;
    list-style: none;
    padding: 0;
    margin: 0;
}

#menu-container.active .arrow {
    transform: rotate(-45deg);
}
